nav{
    padding: 1rem;
    height: 76px;
}
.nav-search{
    color: chocolate;
    border-color: chocolate;
}
.nav-search:hover{
    color: white;
    background-color: chocolate;
    border-color: chocolate;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
footer{
    background-color: #19110b;
    font-size: 14px;
    color: white;
}
.first-line{
    border-bottom: 1px solid #392d23;
}
.second-line a{
    text-decoration: none;
    color: white;
}
.third-line{
    display: none;
    border-top: 1px solid #392d23;
    color: white;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}  

@media screen and (max-width:48rem){
    .first-line{
        text-align: center;
    }
    .second-line{
        padding: 0 2rem;
    }
    .second-line img{
        display: none
    }
    .third-line{
        display: block;
        text-align: center;
    }
}
